@font-face {
    font-family: 'ibm-80x25';
    src: url('ibm-vga8.woff2') format('woff2'),
         url('ibm-vga8.woff') format('woff');
}

@font-face {
    font-family: 'ibm-80x50';
    src: url('ibm-cga.woff2') format('woff2'),
         url('ibm-cga.woff') format('woff');
}

@font-face {
  font-family: 'topaz';
  src: url('topaz_a1200.woff2') format('woff2'),
       url('topaz_a1200.woff') format('woff');
}

@font-face {
  font-family: 'topaz-hires';
  src: url('topaz_a1200-hires.woff2') format('woff2'),
       url('topaz_a1200-hires.woff') format('woff');
}
